# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea

# Dependencies
/vendor
/node_modules

# Environment
.env
.env.backup
.env.production

# Laravel
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Testing
/tests/coverage
.phpunit.cache

# OS
.DS_Store
Thumbs.db

# Docker (avoid recursive copy)
Dockerfile
docker-compose.yml
.dockerignore
